---
import Modal from "../Modal.astro";
import InfraBg from "../../images/infrastructural.png";
---

<Modal id="infrastructural" bg={InfraBg}>
    <div class="grid grid-cols-3 container mx-auto">
        <h4
            class="text-white font-bold text-5xl text-center self-center leading-tight"
            >Datification & <br /> Digitalization</h4
        >
        <ul class="text-white self-center text-center">
            <li class="text-xl">
                Labeling & Classification
            </li>
            <li class="text-xl mt-2">
                Platforms / Mediums
            </li>
            <li class="text-xl mt-2">AI / ML</li>
            <li class="text-xl mt-2">Data</li>
            <li class="text-xl mt-2">Business Model</li>
            <li class="text-xl mt-2">
                Authentification / Provenance
            </li>
            <li class="text-xl mt-2">
                Content Moderation
            </li>
        </ul>
        <h4
            class="text-white font-bold text-5xl text-center self-center leading-tight"
            >Access & <br /> Connectivity</h4
        >
    </div>
</Modal>