---
import Modal from "../Modal.astro";
import KeyFactorsImg from "../../images/key_factors.png";
---

<Modal id="key_factors" bg={KeyFactorsImg}>
    <h3 class="text-6xl font-bold text-white">
        Key Factors
    </h3>
    <div class="text-white grid grid-cols-3 gap-10 mt-20">
        <div
            class="bg-blue-dark bg-opacity-60 p-10 relative flex flex-col justify-between"
        >
            <span
                class="absolute w-10 h-10 rounded-full bg-white -top-5 left-10"
            ></span>
            <h4 class="text-2xl font-bold">
                Access to <br /> Information
            </h4>
            <ul class="text-start list-disc mt-5">
                <li class="text-xl">Proactive provision</li>
                <li class="text-xl">Freedom of Information Act</li>
                <li class="text-xl">Procedural Efficiency</li>
                <li class="text-xl">Officials Engage with press</li>
            </ul>
        </div>
        <div
            class="bg-blue-dark bg-opacity-60 p-10 relative flex flex-col justify-between"
        >
            <span
                class="absolute w-10 h-10 rounded-full bg-white -top-5 left-10"
            ></span>
            <h4 class="text-2xl font-bold">Norms</h4>
            <ul class="text-start list-disc mt-5">
                <li class="text-xl">Transparency</li>
                <li class="text-xl">Culture</li>
                <li class="text-xl">Trust</li>
            </ul>
            <span></span>
        </div>
        <div
            class="bg-blue-dark bg-opacity-60 p-10 relative flex flex-col justify-between"
        >
            <span
                class="absolute w-10 h-10 rounded-full bg-white -top-5 left-10"
            ></span>
            <h4 class="text-2xl font-bold">
                People and <br /> Communities
            </h4>
            <ul class="text-start list-disc mt-5">
                <li class="text-xl">Information needs</li>
                <li class="text-xl">Beliefs</li>
                <li class="text-xl">Civic and Scientific literacy</li>
                <li class="text-xl">Media and Information literacy</li>
            </ul>
        </div>
    </div>
</Modal>
