---
import Modal from "../Modal.astro";
import KeyStoneBg from "../../images/keystone.png";
---

<Modal id="key_stone" bg={KeyStoneBg}>
    <h3 class="text-6xl font-bold text-blue-dark-translucent">
        Keystone Species
    </h3>
    <ul class="text-white text-center mt-20">
        <li class="text-4xl font-bold text-blue-dark-translucent">Investigative media</li>
        <li class="text-4xl font-bold text-blue-dark-translucent mt-10">Watchdog media</li>
        <li class="text-4xl font-bold text-blue-dark-translucent mt-10">
            Public service media
        </li>
        <li class="text-4xl font-bold text-blue-dark-translucent mt-10">Alternative media</li>
        <li class="text-4xl font-bold text-blue-dark-translucent mt-10">Local media</li>
        <li class="text-4xl font-bold text-blue-dark-translucent mt-10">National media</li>
    </ul>
</Modal>