---
import Modal from "../Modal.astro";
import KeyStoneBg from "../../images/keystone.png";
---

<Modal id="key_stone" bg={KeyStoneBg}>
    <ul class="text-white text-center">
        <li class="text-5xl font-bold text-blue-dark-translucent">Investigative Media</li>
        <li class="text-5xl font-bold text-blue-dark-translucent mt-10">Watchdog Media</li>
        <li class="text-5xl font-bold text-blue-dark-translucent mt-10">
            Public Service Media
        </li>
        <li class="text-5xl font-bold text-blue-dark-translucent mt-10">Alternative Media</li>
        <li class="text-5xl font-bold text-blue-dark-translucent mt-10">Local Media</li>
        <li class="text-5xl font-bold text-blue-dark-translucent mt-10">National Media</li>
    </ul>
</Modal>