---
import Modal from "../Modal.astro";
import MediaBg from "../../images/media.png";
---

<Modal id="media" title="Title" content="Content" bg={MediaBg}>
    <ul class="text-white text-center">
        <li class="text-5xl font-bold text-blue-dark-translucent">Entertainment</li>
        <li class="text-5xl font-bold mt-10 text-blue-dark-translucent">
            Diversity & Pluralism
        </li>
        <li class="text-5xl font-bold mt-10 text-blue-dark-translucent">
            User-generated content
        </li>
        <li class="text-5xl font-bold mt-10 text-blue-dark-translucent">Transparency</li>
    </ul>
</Modal>