---
import Modal from "../Modal.astro";
import MediaBg from "../../images/media.png";
---

<Modal id="media" title="Title" content="Content" bg={MediaBg}>
    <h3 class="text-6xl font-bold text-blue-dark-translucent">
        Media System
    </h3>
    <ul class="text-white text-center mt-20">
        <li class="text-4xl font-bold text-blue-dark-translucent">Entertainment</li>
        <li class="text-4xl font-bold mt-10 text-blue-dark-translucent">
            Diversity and Pluralism
        </li>
        <li class="text-4xl font-bold mt-10 text-blue-dark-translucent">
            User-generated content
        </li>
        <li class="text-4xl font-bold mt-10 text-blue-dark-translucent">Transparency</li>
    </ul>
</Modal>