---
import Modal from "../Modal.astro";
import PrivateBg from "../../images/private.png";
---

<Modal id="private" bg={PrivateBg}>
    <ul class="text-white text-center">
        <li class="text-5xl font-bold leading-tight">
            Market Research & Audience <br> Measurement
        </li>
        <li class="text-5xl font-bold mt-10 leading-tight">
            Teach / ICT companies
        </li>
        <li class="text-5xl font-bold mt-10 leading-tight">Legal organizations</li>
        <li class="text-5xl font-bold mt-10 leading-tight">Advertising</li>
    </ul>
</Modal>