---
import Modal from "../Modal.astro";
import PublicBg from "../../images/public.png";
---

<Modal id="public2" title="Title" content="Content" bg={PublicBg}>
    <ul class="text-white text-center">
        <li class="text-5xl font-bold">
            Political interventionism
        </li>
        <li class="text-5xl font-bold mt-10">
            Press / internet freedom
        </li>
        <li class="text-5xl font-bold mt-10">
            Funding for Public Service Media
        </li>
    </ul>
</Modal>