---
import Modal from "../Modal.astro";
import PublicBg from "../../images/public.png";
---

<Modal id="public1" bg={PublicBg}>
    <ul class="text-white text-center">
        <li class="text-5xl font-bold">Legal regulatory system</li>
        <li class="text-5xl font-bold mt-10">
            Competition standards
        </li>
        <li class="text-5xl font-bold mt-10">
            Privacy / Data protection
        </li>
    </ul>
</Modal>