---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Section1 from '../components/Section1.astro';
import Pyramid from '../components/Pyramid.astro';
import Section3 from '../components/Section3.astro';
import Section4 from '../components/Section4.astro';
import Section2 from '../components/Section2.astro';
---

<Layout title="TAI - Healty Information Ecosystem">
	<main>
		<section class="bg-blue-dark">
			<div class="container max-w-5xl mx-auto px-4">
				<Hero></Hero>
			</div>
		</section>
		
		<Pyramid></Pyramid>
		
		<Section1></Section1>
		<Section2></Section2>
		<Section3></Section3>
		<Section4></Section4>
	</main>
</Layout>

<style lang="postcss">
	
</style>
