---
import Icon from "astro-icon";
let { key, class: classes, showArrow } = Astro.props;
---

<li
    class={`accordion-item accordion-item-${key} ${classes}`}
    aria-expanded="false"
    data-key={key}
>
    <button class="accordion-item--header w-full">
        <slot name="header" />
        {
            showArrow && (
                <span class="accordion-item--arrow mr-2">
                    <Icon name="chevron" class="w-[24px]" />
                </span>
            )
        }
    </button>
    <div class="accordion-item--body">
        <slot name="body" />
    </div>
</li>

<style lang="postcss">
    .accordion-item .accordion-item--body {
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.3s ease-in-out;
    }
    .accordion-item .accordion-item--header {
        @apply flex items-center justify-between;
        .accordion-item--arrow {
            @apply transition-transform duration-300;
            transform: rotate(180deg);
        }
    }
    .accordion-item.accordion-item--active .accordion-item--header .accordion-item--arrow {
        transform: rotate(0deg);
        transform-origin: center;
    }
</style>
