---
import Icon from "astro-icon";
---

<div class="keystone-circles-container justify-center self-center">
    <svg viewBox="0 0 74.876167 75.10141" version="1.1" id="svg1">
        <defs id="defs1"></defs>
        <g id="layer1" transform="translate(-7.9405372,-0.70536611)">
            <g class="circle">
                <ellipse
                    style="fill:none;stroke:#00e8c3;stroke-width:0.337102;stroke-linecap:round;stroke-dasharray:2.02262, 2.02262;stroke-dashoffset:0.337102;stroke-opacity:1"
                    id="path1"
                    cx="45.378471"
                    cy="38.146408"
                    rx="37.269688"
                    ry="37.272675"></ellipse>
                <text
                    xml:space="preserve"
                    style="font-weight:600;font-size:3.175px;line-height:1.3;-inkscape-font-specification:'Inter Bold';text-align:center;text-anchor:middle;fill:#00e8c3;fill-opacity:1;stroke:none;stroke-width:0.899999;stroke-linecap:round;stroke-dasharray:5.39999, 5.39999;stroke-dashoffset:0.899999;stroke-opacity:1"
                    x="45.392063"
                    y="8.5091419"
                    id="text2"
                    ><tspan
                        id="tspan2"
                        style="font-size:3.175px;stroke-width:0.9"
                        x="45.392063"
                        y="8.5091419">ALL MEDIA</tspan
                    ></text
                >
            </g>
            <g class="circle">
                <ellipse
                    style="fill:#00e8c3;fill-opacity:1;stroke:none;stroke-width:1.37851;stroke-linecap:round;stroke-dasharray:8.27106, 8.27106;stroke-dashoffset:1.37851;stroke-opacity:1"
                    id="path2"
                    cx="44.761871"
                    cy="43.900936"
                    rx="31.542999"
                    ry="31.65679"></ellipse>

                <text
                    xml:space="preserve"
                    style="font-weight:600;font-size:3.175px;line-height:1.3;-inkscape-font-specification:'Inter Bold';text-align:center;text-anchor:middle;fill:#00e8c3;fill-opacity:1;stroke:none;stroke-width:0.899999;stroke-linecap:round;stroke-dasharray:5.39999, 5.39999;stroke-dashoffset:0.899999;stroke-opacity:1"
                    x="45.555538"
                    y="18.584589"
                    id="text3"
                    ><tspan
                        id="tspan3"
                        style="font-size:3.175px;fill:#3d30bf;fill-opacity:1;stroke-width:0.9"
                        x="45.555538"
                        y="18.584589">News/</tspan
                    ><tspan
                        style="font-size:3.175px;fill:#3d30bf;fill-opacity:1;stroke-width:0.9"
                        x="45.555538"
                        y="22.71209"
                        id="tspan4">Non-fiction Media</tspan
                    ></text
                >
            </g>

            <g class="circle">
                <ellipse
                    style="fill:#5e48ff;fill-opacity:1;stroke:none;stroke-width:1.09329;stroke-linecap:round;stroke-dasharray:6.55972, 6.55972;stroke-dashoffset:1.09329;stroke-opacity:1"
                    id="path2-3"
                    cx="44.840416"
                    cy="50.581646"
                    rx="25"
                    ry="25.123474"></ellipse>

                <text
                    xml:space="preserve"
                    style="font-weight:600;font-size:3.175px;line-height:1.3;-inkscape-font-specification:'Inter Bold';text-align:center;text-anchor:middle;fill:#00e8c3;fill-opacity:1;stroke:none;stroke-width:0.899999;stroke-linecap:round;stroke-dasharray:5.39999, 5.39999;stroke-dashoffset:0.899999;stroke-opacity:1"
                    x="45.46954"
                    y="32.45591"
                    id="text3-6"
                    ><tspan
                        style="font-size:3.175px;fill:#fafafa;fill-opacity:1;stroke-width:0.9"
                        x="45.46954"
                        y="32.45591"
                        id="tspan4-0">Public</tspan
                    ><tspan
                        style="font-size:3.175px;fill:#fafafa;fill-opacity:1;stroke-width:0.9"
                        x="45.46954"
                        y="36.583408"
                        id="tspan5">Interest Media</tspan
                    ></text
                >
            </g>
            <g class="circle">
                <ellipse
                    style="fill:#fafafa;fill-opacity:1;stroke:none;stroke-width:0.767446;stroke-linecap:round;stroke-dasharray:4.60468, 4.60468;stroke-dashoffset:0.767446;stroke-opacity:1"
                    id="path2-3-0"
                    cx="45.058769"
                    cy="58.121674"
                    rx="17.5"
                    ry="17.685104"></ellipse>
                <text
                    xml:space="preserve"
                    style="font-weight:600;font-size:3.175px;line-height:1.3;-inkscape-font-specification:'Inter Bold';text-align:center;text-anchor:middle;fill:#5e48ff;fill-opacity:1;stroke:none;stroke-width:0.899999;stroke-linecap:round;stroke-dasharray:5.39999, 5.39999;stroke-dashoffset:0.899999;stroke-opacity:1"
                    x="44.911118"
                    y="49.50285"
                    id="text3-6-1"
                    ><tspan
                        style="font-size:3.175px;fill:#5e48ff;fill-opacity:1;stroke-width:0.9"
                        x="44.911118"
                        y="49.50285"
                        id="tspan5-2">Watchdog</tspan
                    ><tspan
                        style="font-size:3.175px;fill:#5e48ff;fill-opacity:1;stroke-width:0.9"
                        x="44.911118"
                        y="53.630348"
                        id="tspan6">Investigative</tspan
                    ><tspan
                        style="font-size:3.175px;fill:#5e48ff;fill-opacity:1;stroke-width:0.9"
                        x="44.911118"
                        y="57.757851"
                        id="tspan7">Public Service</tspan
                    ><tspan
                        style="font-size:3.175px;fill:#5e48ff;fill-opacity:1;stroke-width:0.9"
                        x="44.911118"
                        y="61.885349"
                        id="tspan8">Alternative</tspan
                    ><tspan
                        style="font-size:3.175px;fill:#5e48ff;fill-opacity:1;stroke-width:0.9"
                        x="44.911118"
                        y="66.012848"
                        id="tspan9">Local</tspan
                    ><tspan
                        style="font-size:3.175px;fill:#5e48ff;fill-opacity:1;stroke-width:0.9"
                        x="44.911118"
                        y="70.14035"
                        id="tspan10">National</tspan
                    ></text
                >
            </g>
        </g>
    </svg>
</div>
<div class="self-center">
    <h4 class="font-semibold text-green-accent text-xl">
        Keystone species exist at various levels <br /> of analysis:
    </h4>
    <ul class="mt-4 text-light list-outside -ml-2">
        <li class="flex items-start">
            <Icon name="arrow_right" class="w-8 flex-shrink-0" />
            <span class="w-full">
                Media system is a keystone species within the info
                ecosystem (of agiven locality)</span
            >
        </li>

        <li class="mt-2 flex items-start">
            <Icon name="arrow_right" class="w-8 flex-shrink-0" />
            <span
                >Non-fiction media and news specifically are keystone
                species within the media system</span
            >
        </li>

        <li class="mt-2 flex items-start">
            <Icon name="arrow_right" class="w-8 flex-shrink-0" />
            <span class="">
                Public interest media are keystone species within the
                news ecosystem
            </span>
        </li>

        <li class="mt-2 flex items-start">
            <Icon name="arrow_right" class="w-8 flex-shrink-0" />
            <span>
                Within public interest media there are several keystone
                species. They include:
            </span>
        </li>
        <ul class="list-inside list-disc ml-8 mt-4">
            <li>Public Service media</li>
            <li>Watchdog media</li>
            <li>Investigative media</li>
            <li>Alternative media</li>
            <li>Local media</li>
            <li>National media</li>
        </ul>
    </ul>
</div>
<script>
    import { gsap } from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";

    const isMobile = window.innerWidth < 768;

    gsap.registerPlugin(ScrollTrigger);

    let circles = gsap.utils.toArray(".keystone-circles .circle");

    const body = document.querySelector("body");
    const obsv = new ResizeObserver(function () {
        ScrollTrigger.refresh();
    });

    for (var i = 0; i < body.children.length; i++) {
        obsv.observe(body.children[i]);
    }

    gsap.timeline({
        scrollTrigger: {
            trigger: ".keystone-circles",
            // markers: true,
            start: !isMobile ? "center center" : "top top",
            end: "+=" + (circles.length - 1) * window.innerHeight,
            scrub: true,
            pin: true,
        },
    });

    circles.forEach((circle, i) => {
        const tl = gsap.timeline({
            scrollTrigger: {
                trigger: ".keystone-circles",
                // markers: true,
                start: "top bottom",
                end: "+=" + i * window.innerHeight,
                scrub: 1,
            },
        });
        const text = (circle as HTMLElement).querySelector("text");
        const ellipse = (circle as HTMLElement).querySelector("ellipse");

        tl.from(
            text as any,
            {
                opacity: 0,
                fontSize: 0,
                translateY: 100,
                delay: 0.5 * i,
            },
            0,
        ).from(
            ellipse as any,
            {
                opacity: 0,
                scale: 0.95,
                transformOrigin: "center",
                delay: 0.5 * i,
            },
            0,
        );
    });
</script>
