---
import { Sprite } from "astro-icon";
---

<footer class="bg-blue-dark">
    <div class="grid grid-cols-1 md:grid-cols-3 container mx-auto max-w-5xl px-5 py-20">
        <div>
            <Sprite.Provider>
                <Sprite
                    name="logo-white"
                    class="fill-light w-[200px] h-[50px]"
                />
            </Sprite.Provider>
        </div>
        <div class="mt-10 md:mt-0">
            <nav class="flex flex-col">
                <a href="#healthy-ecosystem" class="text-green-accent text-lg font-semibold"
                    >Healthy ecosystem</a
                >
                <a href="#the-project" class="text-green-accent text-lg mt-2 font-semibold"
                    >The project</a
                >
                <a href="#main-elements" class="text-green-accent text-lg mt-2 font-semibold"
                    >Main elements</a
                >
                <a href="#funding" class="text-green-accent text-lg mt-2 font-semibold"
                    >Funding</a
                >
            </nav>
        </div>
        <div class="mt-10 md:mt-0">
            <span class="text-lg text-green-accent font-semibold">Credits</span>
            <p class="mt-4 text-light">
                <b>Dr. Courtney C. Radsch</b> is a fellow at UCLA Institute for
                Technology, Law & Policy and the Center for Democracy and
                Technology, and she writes and speaks about technology, media,
                and rights.
            </p>
            <p class="mt-4 text-light font-light">
                <b>The Transparency and Accountability Initiative (TAI)</b> is a donor
                collaborative working toward a democratic world where power and
                resources are more equally distributed; people are informed and
                empowered, governments and the corporate sector are open and
                responsive, and collective action advances the public good.
            </p>
        </div>
    </div>
    <div class="bg-blue-light flex items-center justify-center p-5">
        <span class="md:text-lg text-light">
            Website designed and developed by <strong class="text-green-accent"
                >W.LAND</strong
            >
        </span>
    </div>
</footer>
