---
import { Icon } from "astro-icon";
import Navbar from "./Navbar.astro";
---

<Navbar />
<div class="grid grid-cols-3 gap-4">
    <div class="col-span-2 col-start-2">
        <h1 class="text-4xl text-green-accent font-medium">
            Discover the power of a Healty Information Ecosystem
        </h1>
        <p class="mt-4 text-light">
            Defined by diversity, resiliency, and integrity, a healthy ecosystem
            is dynamically balanced. Using a systems-based approach, we can
            improve resource allocation, identify gaps, and design more
            effective interventions. Our inphographic explores how
            interconnected systems and heterogeneous species interact in a
            complex and multivariate network to sustain the broader ecosystem
            and promote growth.
        </p>
    </div>
</div>
<div class="grid grid-cols-3 mt-20 gap-5">
    <video class="bg-blue-light aspect-video rounded-3xl col-span-2 w-full"
    ></video>
    <div class="mx-10 mt-auto">
        <Icon class="w-24 text-green-accent rounded-full ring-green-accent ring-2" pack="mdi" name="play"></Icon>
        <h3 class="text-green-accent text-3xl mt-10 font-medium">How does this work?</h3>
        <p class="text-light text-lg mt-5">Explainer on healthy ecosystem, its concept and how it works</p>
    </div>
</div>
