---
import { Icon, Sprite } from "astro-icon";
---

<div class="flex py-5 md:py-10 px-4">
    <div class="flex-1">
        <a href="https://www.transparency-initiative.org/" target="_blank" rel="noopener">
            <Sprite.Provider>
                <Sprite name="logo-white" class="fill-light w-[200px] h-[50px]" />
            </Sprite.Provider>
        </a>
    </div>
    <div class="hidden md:flex items-center">
        <a
            href="https://www.facebook.com/TAInitiative/"
            target="_blank"
            rel="noopener"
        >
            <Icon pack="mdi" name="facebook" class="nav-icon" />
        </a>
        <!-- <a href="">
            <Icon pack="mdi" name="instagram" class="nav-icon" />
        </a> -->
        <a
            href="https://twitter.com/TAInitiative"
            target="_blank"
            rel="noopener"
        >
            <Icon name="x-twitter" class="nav-icon fill-green-accent" />
        </a>
        <a
            href="https://www.linkedin.com/company/transparency-and-accountability-initiative/"
            target="_blank"
            rel="noopener"
        >
            <Icon pack="mdi" name="linkedin" class="nav-icon" />
        </a>
        <a href="https://www.youtube.com/@transparencyandaccountabil7033" target="_blank" rel="noopener">
            <Icon pack="mdi" name="youtube" class="nav-icon" />
        </a>
    </div>
</div>

<style lang="postcss">
    .nav-icon {
        @apply w-[30px] h-[30px] text-green-accent border border-solid border-green-accent p-[4px] rounded-full mx-2;
    }
</style>
