<section class="bg-blue py-10 flex flex-col items-center">
    <p class="max-w-md text-light text-xl text-center">
        Gain valuable insights by downloading our tool: "What makes for a Healthy Information Ecosystem" by Dr. Courtney C. Radsch and TAI.
    </p>
    <button class="mt-10 rounded-3xl ring-2 ring-green-accent px-8 py-2 text-green-accent">
        Download now
    </button>
</section>