---
import Accordion from "./Accordion.astro";
import AccordionItem from "./AccordionItem.astro";
---

<section class="bg-light py-12 md:py-20">
    <div class="container max-w-5xl mx-auto px-4">
        <div class="flex flex-col items-center">
            <h2 class="text-4xl font-semibold">Funding</h2>
            <p class="max-w-prose text-lg text-center mt-5">
                Understand the latest trends in existing interventions to
                support the capability and impact of a healthy information
                ecosystem
            </p>
            <div class="my-5 w-full">
                <div class="flourish-embed flourish-chart" data-src="visualisation/15139238"><script src="https://public.flourish.studio/resources/embed.js"></script></div>
            </div>
            <span class="text-2xl max-w-prose text-center font-normal mt-5">
                For more details on philanthropic support for healthy <br />
                information ecosystems feel free to reach out
            </span>
            <button
                class="bg-green-accent text-light mt-5 px-8 py-2 rounded-3xl"
            >
                Contact TAI
            </button>
        </div>
    </div>
</section>
