<section class="bg-blue py-16 md:py-20">
    <div class="container max-w-5xl mx-auto px-5 md:px-10 flex flex-col items-center">
        <p class=" text-light text-2xl text-center">
            Enhance your understanding of communication landscapes by
            downloading our ‘Healthy Information Ecosystem’ PDF, by the expert
            Dr. Courtney C. Radsch. Gain valuable insights into creating a
            thriving media environment.
        </p>
        <button
            class="mt-10 rounded-3xl ring-2 ring-green-accent px-8 py-2 text-green-accent"
        >
            Download now
        </button>
    </div>
</section>
