<section id="funding" class="bg-light py-16 md:py-20">
  <div class="container max-w-5xl mx-auto px-4">
    <div class="flex flex-col items-center">
      <h2 class="text-4xl font-semibold">Funding</h2>
      <p class="max-w-prose text-lg text-center mt-5">
        Where is philanthropic funding currently going to support healthy
        information ecosystems?
      </p>
      <p class="max-w-prose text-lg text-center mt-5">
        You will find here the funding trends over the past five years
        (2018-2022) at global level, in the United States and in three priority
        regions for TAI and its members (Africa, Latin America, Southeast Asia).
        The source is <a class="underline" href="https://fconline.foundationcenter.org/"
          >Candid's Foundation Directory</a
        >, an up-to-date research database of philanthropic giving organized by
        thematic codes, and results are presented for the codes considered as
        most relevant to support the information ecosystem from within <a
            class="underline"
          href="https://taxonomy.candid.org/subjects"
        >
          Candid's taxonomy</a
        > .
      </p>
      <p class="max-w-prose text-lg text-center mt-5">
        For a more accurate comparative analysis, please select same level codes, as level 1 code ("Information & Communications") includes funding from levels 2, 3 and 4; level 2 includes funding from levels 3 and 4; and level 3 includes funding from level 4. Only "Freedom of association and expression" and "Freedom of information" codes belong to other level 1 and 2 codes.
      </p>
      <div class="my-5 w-full">
        <div
          class="flourish-embed flourish-chart"
          data-src="visualisation/15139238"
        >
          <script src="https://public.flourish.studio/resources/embed.js"
          ></script>
        </div>
      </div>
      <span class="text-2xl max-w-prose text-center font-normal mt-5">
        For more details on philanthropic support for healthy <br />
         information ecosystems feel free to reach out
      </span>
      <a
        href="mailto:contact@transparency-initiative.org"
        class="bg-green-accent text-light mt-5 px-8 py-2 rounded-3xl"
      >
        Contact TAI
      </a>
    </div>
  </div>
</section>
