---
import Icon from "astro-icon";
import { Image } from "astro:assets";
import WhyImg from "../icons/why_does_it_matter.png";
import HieImg from "../icons/hie.png";
import Circles from "./Circles.astro";
---

<div class="py-10 md:py-20 bg-blue-light">
    <section class="container max-w-5xl mx-auto px-5 md:px-10 md:py-5">
        <h2 class="text-light text-3xl md:text-5xl font-semibold">
            Main elements of the <br /> ecosystem analysis
        </h2>
        <div class="grid grid-cols-1 md:grid-cols-none md:grid-flow-col md:auto-cols-auto gap-5 mt-10 md:mt-20">
            <div class="self-start md:pr-12">
                <Image
                    format="webp"
                    src={WhyImg}
                    alt="Illustration"
                    class="w-32 h-32"
                />
            </div>
            <div class="mt-5">
                <h4 class="font-semibold text-green-accent text-xl">
                    ICT Infrastructure
                </h4>
                <p class="mt-4 text-light">
                    The infrastructural layer of information ecosystems provides
                    a common set of conditions and digital resources that, when
                    balanced with non-digital resources, shape information flows
                    and nurture the ecosystem.
                </p>
                <ul class="list-disc list-outside ml-5 mt-5 text-light">
                    <li>
                        Contemporary Information Ecosystems: Built on digital
                        technological infrastructures that include platforms
                        from prior eras (e.g. broadcast, print) but are distinct
                        in their generativity, adaptivity, and networked nature.
                        The penetration of digital platforms affects the health
                        of the ecosystem.
                    </li>
                    <li>
                        Importance of Infrastructure: Ubiquitous, reliable, and
                        durable, generating dependency and habituation within an
                        ecosystem. Information providers depend on platforms for
                        access to networks, audiences, data, publishing
                        protocols, advertising revenue, and funding, influencing
                        editorial, organizational, and business choices in the
                        media system.
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="container max-w-5xl mx-auto px-5 md:px-10 py-5">
        <div class="grid grid-cols-1 md:grid-cols-none md:grid-flow-col md:auto-cols-auto gap-5 mt-5 md:mt-20">
            <div class="order-2 md:order-1 mt-5 md:mt-0">
                <h4 class="font-semibold text-green-accent text-xl">
                    Dynamic Conditions
                </h4>

                <ul class="mt-4 text-light list-outside -ml-2">
                    <li class="flex items-start">
                        <Icon name="arrow_right" class="w-8 flex-shrink-0" />
                        <span class="w-full"
                            ><b>Access and Connectivity</b> are key conditions
                            connecting the infrastructural level with the rest
                            of the system.</span
                        >
                    </li>

                    <li class="mt-2 flex items-start">
                        <Icon name="arrow_right" class="w-8 flex-shrink-0" />
                        <span
                            ><b>Datafication and Digitalization</b> make
                            contemporary information more valuable and create a
                            feedback loop between the media system and the
                            infrastructural layer.</span
                        >
                    </li>

                    <li class="mt-2 flex items-start">
                        <Icon name="arrow_right" class="w-8 flex-shrink-0" />
                        <span class="">
                            <b>The Media System</b> is At the center of a
                            healthy information ecosystem, including
                            entertainment media, user-generated content, and
                            nonfiction media like news, documentary, and
                            educational media.
                        </span>
                    </li>

                    <li class="mt-2 flex items-start">
                        <Icon name="arrow_right" class="w-8 flex-shrink-0" />
                        <span>
                            <b>The News Media</b> is represented by anchor
                            institutions that shape the flow and distribution of
                            information in media systems, analyzed along four
                            key dimensions: editorial (content), business or
                            organizational aspects (institution),
                            professionalism (norms/practices), and preparedness
                            and resiliency (people, institution, practices).
                        </span>
                    </li>

                    <li class="mt-2 flex items-start">
                        <Icon name="arrow_right" class="w-8 flex-shrink-0" />
                        <span>
                            <b>Transparency and Accountability</b> are promoted
                            by news media holding those in power accountable.
                        </span>
                    </li>

                    <li class="mt-2 flex items-start">
                        <Icon name="arrow_right" class="w-8 flex-shrink-0" />
                        <span>
                            <b>Anchor Institutions and Keystone Species</b> are
                            vitally important to ecological survival of the
                            ecosystem, sculpting the environment and helping
                            create a habitable environment for many other types
                            of species.
                        </span>
                    </li>
                </ul>
            </div>
            <div class="self-center md:pl-12 order-1 md:order-2">
                <Image
                    format="webp"
                    src={HieImg}
                    alt="Illustration"
                    class="w-32 h-32"
                />
            </div>
        </div>
    </section>
    <section class="keystone-circles container max-w-5xl mx-auto px-5 md:px-10 py-5">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-20 mt-20">
            <Circles />
        </div>
    </section>
    <section class="container max-w-5xl mx-auto px-5 md:px-10 py-5 mt-5 md:mt-10">
        <!-- <h2 class="text-light text-5xl font-medium">
            Boundaries <br /> of the ecosystem
        </h2> -->
        <div class="mx-auto md:mt-10">
            <h4 class="font-semibold text-green-accent text-xl">
                Boundaries of the ecosystem
            </h4>
            <ul class="mt-5 text-light list-outside -ml-2">
                <li class="flex items-start">
                    <Icon name="arrow_right" class="w-8 flex-shrink-0" />
                    <span class="w-full">
                        <b>Diversity and pluralism</b> along with
                        transparency are characteristics of healthy systems
                        and keystone species alike. These closely related
                        features are important to all elements of the media
                        system, from business models and ownership, to norms
                        and skills, to editorial aspects such as content and
                        languages, to the digital infrastructures of each
                        outlet.
                    </span>
                </li>
                <li class="flex mt-2 items-start">
                    <Icon name="arrow_right" class="w-8 flex-shrink-0" />
                    <span class="w-full">
                        Similarly, <b>transparency</b> is a key feature that
                        is relevant to all aspects of the system and
                        critical to cultivating trust among components of
                        the system and with the humans involved.
                    </span>
                </li>
                <li class="flex mt-2 items-start">
                    <Icon name="arrow_right" class="w-8 flex-shrink-0" />
                    <span class="w-full">
                        <b>The Private sector</b>, in particular
                        advertising, is foundational to the business of
                        media. Market research and audience measurement
                        firms provide data and analysis needed to develop
                        robust business models and understand audiences.
                    </span>
                </li>
                <li class="flex mt-2 items-start">
                    <Icon name="arrow_right" class="w-8 flex-shrink-0" />
                    <span class="w-full">
                        <b>Civil society</b> provides spaces for community
                        building, capacity building, norm development,
                        advocacy, and protection. Keystone species include
                        independent, self-regulatory, and professional
                        bodies as well as press freedom monitoring groups.
                    </span>
                </li>
                <li class="flex mt-2 items-start">
                    <Icon name="arrow_right" class="w-8 flex-shrink-0" />
                    <span class="w-full">
                        <b>Academia</b> provides both research and theory as
                        well as a talent pipeline into the media system.
                    </span>
                </li>
                <li class="flex mt-2 items-start">
                    <Icon name="arrow_right" class="w-8 flex-shrink-0" />
                    <span class="w-full">
                        <b>Public Sector</b> influences the broader
                        environment in which the ecosystem exists. The legal
                        regulatory system and levels of internet freedom
                        shape the media system and its keystone species as
                        well as the link between people, communities, and
                        the media system. Access to information and public
                        funding for public service media contribute to
                        healthy information ecosystems.
                    </span>
                </li>
                <!-- <li class="flex mt-2 items-start">
                    <Icon name="arrow_right" class="w-8 flex-shrink-0" />
                    <span class="w-full">
                        <b>Other key factors</b> for information ecosystems
                        are access to information and norms. The proactive
                        provision of information flows through the
                        ecosystem, creating data, providing fodder for
                        public service media and watchdog media, and
                        enacting transparency.
                    </span>
                </li> -->
            </ul>
            <div class="mt-10 md:mt-20">
                <h4 class="font-semibold text-green-accent text-xl">Key factors</h4>
                <p class="mt-5 text-white">
                    Access to information, people and communities and norms help
                    with the proactive provision of information flows through the
                    ecosystem, creating data, providing fodder for public service
                    media and watchdog media, and enacting transparency.
                </p>
            </div>
        </div>
        
    </section>
</div>

<style lang="postcss">
    .keystone-circles-container {
        
        .circle-1 {
            
            position: relative;
        }
        .circle-1 svg {
            
            position: absolute;
        }
    }
</style>
