<section id="funding" class="bg-light py-16 md:py-20">
  <div class="container max-w-5xl mx-auto px-4">
    <div class="flex flex-col items-center">
      <!-- <h2 class="text-4xl font-semibold">Funding</h2>
      <p class="max-w-prose text-lg text-center mt-5">
        Where is philanthropic funding currently going to support healthy
        information ecosystems?
      </p>
      <p class="max-w-prose text-lg text-center mt-5">
        Our analysis spans a global perspective, focusing on the United States,
        as well as three priority regions for TAI members—Africa, Latin America,
        and Southeast Asia. Additionally, we provide insights into Official
        Development Assistance (ODA) recipient countries over the past five
        years (2018-2022). The data source for this examination is <a
          class="underline"
          href="https://fconline.foundationcenter.org/"
        >
          Candid's Foundation Directory</a
        >. The results are specifically presented for codes within <a
          href="https://taxonomy.candid.org/"
          class="underline"
        >
          Candid's taxonomy</a
        >that are deemed most pertinent to supporting information ecosystems.
        For a more nuanced comparative analysis, it is recommended to narrow
        down the focus to the same-level codes. The coding structure involves
        hierarchical levels: Level 1, represented by "Information &
        Communications," encompasses funding from all levels. Level 2 codes
        aggregate funding from levels 3 and 4. Furthermore, level 3 codes
        capture funding exclusively from level 4.
      </p>
      <small class="max-w-prose text-sm text-center mt-5">
        It's crucial to note that codes "Freedom of association and expression"
        and "Freedom of information," belong to distinct level 1 and 2 codes,
        namely "Human rights", and "Individual liberties" and “Social rights”.
        This distinction emphasizes the multi-faceted nature of philanthropic
        support, highlighting contributions to both information ecosystems and
        broader societal principles.
      </small>
      <div class="my-5 w-full">
        <div
          class="flourish-embed flourish-chart"
          data-src="visualisation/15139238"
        >
          <script src="https://public.flourish.studio/resources/embed.js"
          ></script>
        </div>
      </div> -->
      <span class="text-2xl max-w-prose text-center font-normal mt-5">
        For more details on philanthropic support for healthy <br />
         information ecosystems feel free to reach out
      </span>
      <a
        href="mailto:contact@transparency-initiative.org"
        class="bg-green-accent text-light mt-5 px-8 py-2 rounded-3xl"
      >
        Contact TAI
      </a>
    </div>
  </div>
</section>
