<section class="bg-blue py-10 flex flex-col items-center">
    <p class="max-w-md text-light text-xl text-center">
        Enhance your understanding of communication landscapes by downloading our ‘Healthy Information Ecosystem’ PDF, by the expert Dr. Courtney C. Radsch. Gain valuable insights into creating a thriving media environment. 
    </p>
    <button class="mt-10 rounded-3xl ring-2 ring-green-accent px-8 py-2 text-green-accent">
        Download now
    </button>
</section>