---
import "@fontsource-variable/inter";
import Footer from "../components/Footer.astro";
import KeyFactors from "../components/modals/KeyFactors.astro";
import MediaSystem from "../components/modals/MediaSystem.astro";
import InfraComponents from "../components/modals/InfraComponents.astro";
import NewsNonFiction from "../components/modals/NewsNonFiction.astro";
import KeyStone from "../components/modals/KeyStone.astro";
import PrivateSector from "../components/modals/PrivateSector.astro";
import CivilSoc from "../components/modals/CivilSoc.astro";
import { SEO } from "astro-seo";
import PublicSector1 from "../components/modals/PublicSector1.astro";
import PublicSector2 from "../components/modals/PublicSector2.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="/apple-touch-icon.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="/favicon-32x32.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="/favicon-16x16.png"
		/>
		<link rel="manifest" href="/site.webmanifest" />
		<meta name="generator" content={Astro.generator} />
		<SEO title={title} description="" />
	</head>
	<body>
		<slot />
		<Footer />

		<KeyFactors />
		<MediaSystem />
		<InfraComponents />
		<NewsNonFiction />
		<KeyStone />
		<PrivateSector />
		<CivilSoc />
		<PublicSector1/>
		<PublicSector2/>

		<style is:global lang="postcss">
			body {
				@apply flex flex-col min-h-screen;
				main {
					@apply flex-1;
				}
			}
		</style>
	</body>
</html>
